In [1]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.optimizers import Adam, SGD

In [2]:
import numpy as np 
import pandas as pd

In [3]:
df = pd.DataFrame(np.random.randint(10, 100, size=(20000, 5)), columns=['s1', 's2', 's3', 's4', 's5'])
df['obtained'] = df.loc[:, 's1': 's5'].apply(lambda x:np.sum(x), axis=1)
df['total'] = 500
df['percentage'] = df.obtained / df.total * 100
df.head()

   s1  s2  s3  s4  s5  obtained  total  percentage
0  87  79  33  51  73       323    500        64.6
1  63  24  82  48  34       251    500        50.2
2  51  91  29  86  79       336    500        67.2
3  99  58  81  14  64       316    500        63.2
4  50  89  83  16  86       324    500        64.8

In [4]:
def grade(x):
    if x >= 80:
        return 'A+'
    elif x >= 70:
        return 'A'
    elif x >= 60:
        return 'B'
    elif x >= 50:
        return 'C'
    elif x >= 40:
        return 'D'
    elif x >= 33:
        return 'E'
    else:
        return 'Fail'

df['Grade'] = df.percentage.apply(grade)
df.head(10)

   s1  s2  s3  s4  s5  obtained  total  percentage Grade
0  87  79  33  51  73       323    500        64.6     B
1  63  24  82  48  34       251    500        50.2     C
2  51  91  29  86  79       336    500        67.2     B
3  99  58  81  14  64       316    500        63.2     B
4  50  89  83  16  86       324    500        64.8     B
5  14  50  28  69  26       187    500        37.4     E
6  44  61  57  37  88       287    500        57.4     C
7  59  93  11  66  95       324    500        64.8     B
8  23  47  17  10  78       175    500        35.0     E
9  25  48  64  72  91       300    500        60.0     B

In [5]:
dic = {
    'A+': 7,
    'A': 6,
    'B': 5,
    'C': 4,
    'D': 3,
    'E': 2,
    'Fail': 1
}
df['Grade1'] = df.Grade.map(dic)
df.head()

   s1  s2  s3  s4  s5  obtained  total  percentage Grade  Grade1
0  87  79  33  51  73       323    500        64.6     B       5
1  63  24  82  48  34       251    500        50.2     C       4
2  51  91  29  86  79       336    500        67.2     B       5
3  99  58  81  14  64       316    500        63.2     B       5
4  50  89  83  16  86       324    500        64.8     B       5

In [6]:
df1 = df[['s1', 's2', 's3', 's4', 's5','Grade']]
df1 = df1.sample(frac=1)  #shuffle data for good accuracy, however for time dependent data we dont shuffle
df1.head()

       s1  s2  s3  s4  s5 Grade
2343   99  57  21  18  75     C
1311   64  73  86  77  84     A
19445  84  93  91  58  66     A
18413  26  36  45  48  47     D
1809   97  77  13  12  34     D

In [7]:
X = df.loc[:, 's1' : 's5']
X.head()

   s1  s2  s3  s4  s5
0  87  79  33  51  73
1  63  24  82  48  34
2  51  91  29  86  79
3  99  58  81  14  64
4  50  89  83  16  86

In [8]:
Y = df1.Grade
Y = pd.get_dummies(Y) # apply one hot encoding > to solve multi classification
Y.head()

       A  A+  B  C  D  E  Fail
2343   0   0  0  1  0  0     0
1311   1   0  0  0  0  0     0
19445  1   0  0  0  0  0     0
18413  0   0  0  0  1  0     0
1809   0   0  0  0  1  0     0

In [9]:
Y.drop_duplicates()

       A  A+  B  C  D  E  Fail
2343   0   0  0  1  0  0     0
1311   1   0  0  0  0  0     0
18413  0   0  0  0  1  0     0
6529   0   0  0  0  0  1     0
8257   0   0  1  0  0  0     0
9109   0   0  0  0  0  0     1
1986   0   1  0  0  0  0     0

In [14]:
# first layer input_shape (no of columns in X)
# last layer output number of labels in Y (unique values)
# last layer acctivation function depend on your problem (4.6 book)
model = Sequential()
# can change Dense Units, output of hidden layer is 5 and input is also 5
model.add(Dense(32, input_shape=(5,), activation='relu'))
model.add(Dense(16, activation='relu'))
model.add(Dense(7, activation='softmax')) # last layer output depend on number of labels

In [15]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_3 (Dense)              (None, 32)                192
_________________________________________________________________
dense_4 (Dense)              (None, 16)                528
_________________________________________________________________
dense_5 (Dense)              (None, 7)                 119
=================================================================
Total params: 839
Trainable params: 839
Non-trainable params: 0
_________________________________________________________________

In [18]:
#  optimizer update > weights (w, b) based on loss function
model.compile(optimizer=SGD(lr=0.002),
              loss='categorical_crossentropy', # depend on our problem
              metrics = ['acc']
              )

In [19]:
model.fit(X,Y, epochs=30)

Epoch 1/30
625/625 [==============================] - 1s 1ms/step - loss: 1.6221 - acc: 0.3235
Epoch 2/30
625/625 [==============================] - 1s 1ms/step - loss: 1.6219 - acc: 0.3235
Epoch 3/30
625/625 [==============================] - 1s 1ms/step - loss: 1.6217 - acc: 0.3234
Epoch 4/30
625/625 [==============================] - 1s 1ms/step - loss: 1.6216 - acc: 0.3234
Epoch 5/30
625/625 [==============================] - 1s 1ms/step - loss: 1.6216 - acc: 0.3233
Epoch 6/30
625/625 [==============================] - 1s 1ms/step - loss: 1.6215 - acc: 0.3236
Epoch 7/30
625/625 [==============================] - 1s 1ms/step - loss: 1.6215 - acc: 0.3237
Epoch 8/30
625/625 [==============================] - 1s 1ms/step - loss: 1.6215 - acc: 0.3234
Epoch 9/30
625/625 [==============================] - 1s 1ms/step - loss: 1.6214 - acc: 0.3237
Epoch 10/30
625/625 [==============================] - 1s 1ms/step - loss: 1.6215 - acc: 0.3235
Epoch 11/30
625/625 [==============================] - 1s 1ms/step - loss: 1.6214 - acc: 0.3234
Epoch 12/30
625/625 [==============================] - 1s 1ms/step - loss: 1.6214 - acc: 0.3236
Epoch 13/30
625/625 [==============================] - 1s 1ms/step - loss: 1.6214 - acc: 0.3235
Epoch 14/30
625/625 [==============================] - 1s 1ms/step - loss: 1.6213 - acc: 0.3234
Epoch 15/30
625/625 [==============================] - 1s 1ms/step - loss: 1.6213 - acc: 0.3234
Epoch 16/30
625/625 [==============================] - 1s 1ms/step - loss: 1.6213 - acc: 0.3237
Epoch 17/30
625/625 [==============================] - 1s 1ms/step - loss: 1.6213 - acc: 0.3234
Epoch 18/30
625/625 [==============================] - 1s 1ms/step - loss: 1.6213 - acc: 0.3234
Epoch 19/30
625/625 [==============================] - 1s 1ms/step - loss: 1.6213 - acc: 0.3234
Epoch 20/30
625/625 [==============================] - 1s 1ms/step - loss: 1.6213 - acc: 0.3237
Epoch 21/30
625/625 [==============================] - 1s 1ms/step - loss: 1.6213 - acc: 0.3234
Epoch 22/30
625/625 [==============================] - 1s 1ms/step - loss: 1.6212 - acc: 0.3230
Epoch 23/30
625/625 [==============================] - 1s 1ms/step - loss: 1.6213 - acc: 0.3233
Epoch 24/30
625/625 [==============================] - 1s 1ms/step - loss: 1.6212 - acc: 0.3234
Epoch 25/30
625/625 [==============================] - 1s 1ms/step - loss: 1.6212 - acc: 0.3236
Epoch 26/30
625/625 [==============================] - 1s 1ms/step - loss: 1.6212 - acc: 0.3233
Epoch 27/30
625/625 [==============================] - 1s 1ms/step - loss: 1.6212 - acc: 0.3234
Epoch 28/30
625/625 [==============================] - 1s 1ms/step - loss: 1.6212 - acc: 0.3234
Epoch 29/30
625/625 [==============================] - 1s 1ms/step - loss: 1.6212 - acc: 0.3237
Epoch 30/30
625/625 [==============================] - 1s 1ms/step - loss: 1.6211 - acc: 0.3237

In [ ]:
# acc: 0.2785 /27.8% accurate
#learning could be step by step
#or by doubling step

In [20]:
df['predict'] = Y.columns.take(np.argmax(model.predict(df1.loc[:, 's1':'s5']), axis=1))

In [21]:
df.head()

   s1  s2  s3  s4  s5  obtained  total  percentage Grade  Grade1 predict
0  87  79  33  51  73       323    500        64.6     B       5       C
1  63  24  82  48  34       251    500        50.2     C       4       C
2  51  91  29  86  79       336    500        67.2     B       5       C
3  99  58  81  14  64       316    500        63.2     B       5       C
4  50  89  83  16  86       324    500        64.8     B       5       C

In [22]:
df.tail()

       s1  s2  s3  s4  s5  obtained  total  percentage Grade  Grade1 predict
19995  88  73  42  33  14       250    500        50.0     C       4       C
19996  15  14  53  23  48       153    500        30.6  Fail       1       C
19997  24  63  94  71  24       276    500        55.2     C       4       C
19998  46  30  75  79  42       272    500        54.4     C       4       C
19999  20  94  16  21  55       206    500        41.2     D       3       C

In [ ]:
#assign today before 12
#train on your family images 5-10

In [ ]:
#Computer vision problem

In [23]:
from tensorflow.keras.preprocessing.image import ImageDataGenerator

In [25]:
train_data_gen = ImageDataGenerator(rescale=1.0/255)

In [26]:
train_data = train_data_gen.flow_from_directory(
    "./train",
    target_size=(150, 150),
    batch_size=20,
    class_mode="binary"
)

FileNotFoundError: ignored

In [ ]:
train_data.class_indices

In [27]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Flatten
from tensorflow.keras.optimizers import Adam, SGD

In [ ]:
model1 = Sequential()
model1.add(Flatten())
model1.add(Dense(5000, activation='relu'))
model.add(Dense(1, activation='softmax'))

In [ ]:
model1.compile(optimizer='adam',
              loss='categorical_crossentropy', # depend on our problem
              metrics = ['acc']
              )

In [ ]:
hist = model1.fit(train_data, epochs=15)

In [ ]:
test_data = train_data_gen.flow_from_directory(
    "./test",
    target_size=(150,150),
    batch_size=20,
    class_mode='binary'
)

In [ ]:
Y = model1.predict(test_data)

In [ ]:
np.where(Y>0.5, 'Mama', 'Papa')

In [ ]:
from tensorflow.keras.preprocessing.image import image
img  = image.img_to_array(img) / 255
x = x.reshape()