In [1]:
import numpy as np

In [ ]:
linag
universal function
stack
inid in

In [4]:
l1 = [1, 3, 4, 8, 9]
l1[:2] = 2 # with list update while slicing is not possible
# possible with array

TypeError: can only assign an iterable

In [8]:
a = np.array([1, 3, 5, 6])
a[:2] = 5
a

array([5, 5, 5, 6])

In [5]:
a = np.arange(1, 28).reshape((3, 3, 3))
a

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]],

       [[19, 20, 21],
        [22, 23, 24],
        [25, 26, 27]]])

In [6]:
a[1][1][1]

14

In [7]:
a[1:, 1:, :1]

array([[[13],
        [16]],

       [[22],
        [25]]])

In [10]:
a = np.arange(1, 13).reshape((3, 4))
a

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [13]:
print(a[:2])
print(a[0:2])
print(a[-3:2])
print(a[-3:-1])

[[1 2 3 4]
 [5 6 7 8]]
[[1 2 3 4]
 [5 6 7 8]]
[[1 2 3 4]
 [5 6 7 8]]
[[1 2 3 4]
 [5 6 7 8]]

In [27]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Joe', 'Will', 'Ali'])
names

array(['Bob', 'Joe', 'Will', 'Bob', 'Joe', 'Will', 'Ali'], dtype='<U4')

In [28]:
data = np.random.randn(7, 4)
data

array([[-1.15255758,  0.90636423, -1.2729316 , -1.14422587],
       [ 1.77803736, -0.52701039,  0.89523806, -0.19900823],
       [ 1.53134844,  0.01241764,  0.10717998, -0.97518034],
       [ 0.0259098 , -0.89532437, -1.25301931,  0.01767986],
       [-0.3844125 ,  0.49529085, -0.24578579, -1.82260461],
       [-0.98547739,  0.58087183, -1.86881312, -0.11289379],
       [-1.18612575,  1.30276041,  3.31994321, -1.27481998]])

In [29]:
names == 'Bob'

array([ True, False, False,  True, False, False, False])

In [37]:
data[True, False, False,  True, False, False, False]

array([], shape=(0, 7, 4), dtype=float64)

In [31]:
data[names == 'Bob']

array([[-1.15255758,  0.90636423, -1.2729316 , -1.14422587],
       [ 0.0259098 , -0.89532437, -1.25301931,  0.01767986]])

In [32]:
data[(names == 'Bob') | (names == 'Will')][:,[0,-1]]

array([[-1.15255758, -1.14422587],
       [ 1.53134844, -0.97518034],
       [ 0.0259098 ,  0.01767986],
       [-0.98547739, -0.11289379]])

In [38]:
data[data<0] = 0
data

array([[0.        , 0.90636423, 0.        , 0.        ],
       [1.77803736, 0.        , 0.89523806, 0.        ],
       [1.53134844, 0.01241764, 0.10717998, 0.        ],
       [0.0259098 , 0.        , 0.        , 0.01767986],
       [0.        , 0.49529085, 0.        , 0.        ],
       [0.        , 0.58087183, 0.        , 0.        ],
       [0.        , 1.30276041, 3.31994321, 0.        ]])

In [39]:
# Fancy slicing
print(data)
print()
print(data[:, [-2, 0, -1]])

[[0.         0.90636423 0.         0.        ]
 [1.77803736 0.         0.89523806 0.        ]
 [1.53134844 0.01241764 0.10717998 0.        ]
 [0.0259098  0.         0.         0.01767986]
 [0.         0.49529085 0.         0.        ]
 [0.         0.58087183 0.         0.        ]
 [0.         1.30276041 3.31994321 0.        ]]

[[0.         0.         0.        ]
 [0.89523806 1.77803736 0.        ]
 [0.10717998 1.53134844 0.        ]
 [0.         0.0259098  0.01767986]
 [0.         0.         0.        ]
 [0.         0.         0.        ]
 [3.31994321 0.         0.        ]]

In [43]:
print(data[:,1:])

[[0.90636423 0.         0.        ]
 [0.         0.89523806 0.        ]
 [0.01241764 0.10717998 0.        ]
 [0.         0.         0.01767986]
 [0.49529085 0.         0.        ]
 [0.58087183 0.         0.        ]
 [1.30276041 3.31994321 0.        ]]

In [44]:
print(data[:,1:][:,[-1]])

[[0.        ]
 [0.        ]
 [0.        ]
 [0.01767986]
 [0.        ]
 [0.        ]
 [0.        ]]

In [46]:
data[0,1]

0.906364234528075

In [47]:
a= np.zeros((8,4))
a

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [50]:
for i, _ in enumerate(a):
    a[i] = i
a

array([[0., 0., 0., 0.],
       [1., 1., 1., 1.],
       [2., 2., 2., 2.],
       [3., 3., 3., 3.],
       [4., 4., 4., 4.],
       [5., 5., 5., 5.],
       [6., 6., 6., 6.],
       [7., 7., 7., 7.]])

In [49]:
for i in range(8):
    a[i] = i
a

array([[0., 0., 0., 0.],
       [1., 1., 1., 1.],
       [2., 2., 2., 2.],
       [3., 3., 3., 3.],
       [4., 4., 4., 4.],
       [5., 5., 5., 5.],
       [6., 6., 6., 6.],
       [7., 7., 7., 7.]])

In [52]:
# Transpose attribute
a.T  # inline operation

array([[0., 1., 2., 3., 4., 5., 6., 7.],
       [0., 1., 2., 3., 4., 5., 6., 7.],
       [0., 1., 2., 3., 4., 5., 6., 7.],
       [0., 1., 2., 3., 4., 5., 6., 7.]])

In [53]:
a

array([[0., 0., 0., 0.],
       [1., 1., 1., 1.],
       [2., 2., 2., 2.],
       [3., 3., 3., 3.],
       [4., 4., 4., 4.],
       [5., 5., 5., 5.],
       [6., 6., 6., 6.],
       [7., 7., 7., 7.]])

In [54]:
a.transpose()  # function/method

array([[0., 1., 2., 3., 4., 5., 6., 7.],
       [0., 1., 2., 3., 4., 5., 6., 7.],
       [0., 1., 2., 3., 4., 5., 6., 7.],
       [0., 1., 2., 3., 4., 5., 6., 7.]])

In [55]:
np.dot(a.T, a)

array([[140., 140., 140., 140.],
       [140., 140., 140., 140.],
       [140., 140., 140., 140.],
       [140., 140., 140., 140.]])

In [56]:
print(a * a) # scaler multiplication

[[ 0.  0.  0.  0.]
 [ 1.  1.  1.  1.]
 [ 4.  4.  4.  4.]
 [ 9.  9.  9.  9.]
 [16. 16. 16. 16.]
 [25. 25. 25. 25.]
 [36. 36. 36. 36.]
 [49. 49. 49. 49.]]

In [59]:
print( a.T @ a)  # @ is same as dot product

[[140. 140. 140. 140.]
 [140. 140. 140. 140.]
 [140. 140. 140. 140.]
 [140. 140. 140. 140.]]

In [61]:
arr = np.arange(2*2*4).reshape(2, 2, 4)
arr

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7]],

       [[ 8,  9, 10, 11],
        [12, 13, 14, 15]]])

In [62]:
arr.T

array([[[ 0,  8],
        [ 4, 12]],

       [[ 1,  9],
        [ 5, 13]],

       [[ 2, 10],
        [ 6, 14]],

       [[ 3, 11],
        [ 7, 15]]])

In [63]:
arr = np.arange(10, 2*2*4+10).reshape(2, 2, 4)
arr

array([[[10, 11, 12, 13],
        [14, 15, 16, 17]],

       [[18, 19, 20, 21],
        [22, 23, 24, 25]]])

In [65]:
arr.transpose((1, 0, 2)) # pass no of index
# 1 is row, 0 is slide, 2 is column
# transpose with animation search on multidimensional array

array([[[10, 11, 12, 13],
        [18, 19, 20, 21]],

       [[14, 15, 16, 17],
        [22, 23, 24, 25]]])

In [66]:
arr.transpose??

In [68]:
arr

array([[[10, 11, 12, 13],
        [14, 15, 16, 17]],

       [[18, 19, 20, 21],
        [22, 23, 24, 25]]])

In [67]:
arr.swapaxes(1,2)

array([[[10, 14],
        [11, 15],
        [12, 16],
        [13, 17]],

       [[18, 22],
        [19, 23],
        [20, 24],
        [21, 25]]])

In [69]:
a = np.arange(3*4).reshape((3,4))
a

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [70]:
a.swapaxes(1,0)

array([[ 0,  4,  8],
       [ 1,  5,  9],
       [ 2,  6, 10],
       [ 3,  7, 11]])

In [71]:
a.T

array([[ 0,  4,  8],
       [ 1,  5,  9],
       [ 2,  6, 10],
       [ 3,  7, 11]])

In [72]:
a.swapaxes(0,1)

array([[ 0,  4,  8],
       [ 1,  5,  9],
       [ 2,  6, 10],
       [ 3,  7, 11]])

## 4.2 Universal Functions

In [79]:
a = np.array([1, 2, -3, 4, -5, 7, 9])
print(np.abs(a))

[1 2 3 4 5 7 9]

In [80]:
print(np.fabs(a))  # float absolute

[1. 2. 3. 4. 5. 7. 9.]

In [ ]:
# Study from book table 4.4
#sqrt, exp, log, ceil, floor, modf

In [85]:
a = np.array([1.45, 2.90, 9.55])
w, f = np.modf(a)
print(w, f, sep='\n')

[0.45 0.9  0.55]
[1. 2. 9.]

In [86]:
a = np.array([1, 2, 9, 12])
np.fmod(a, 3)

array([1, 2, 0, 0], dtype=int32)

In [ ]:
# book is old version, some functions might be obsolete

In [88]:
a = np.array([1, 1, 9, 12])
b = np.array([-1, 2, -9, 15])

np.maximum(a, b)

array([ 1,  2,  9, 15])

In [89]:
np.minimum(a, b)

array([-1,  1, -9, 12])

## 4.3 Array Oriented Programming

In [90]:
a = np.arange(3*4).reshape((3,4))
a

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [91]:
np.meshgrid(a, a)

[array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11],
        [ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11],
        [ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11],
        [ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11],
        [ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11],
        [ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11],
        [ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11],
        [ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11],
        [ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11],
        [ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11],
        [ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11],
        [ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11]]),
 array([[ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
        [ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1],
        [ 2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2],
        [ 3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3],
        [ 4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4],
        [ 5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5],
        [ 6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6],
        [ 7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  7],
        [ 8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8],
        [ 9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9],
        [10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10],
        [11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11]])]

In [92]:
# study matplot library
# also find on sir github

In [93]:
a = np.arange(36)
a % 3 == 0

array([ True, False, False,  True, False, False,  True, False, False,
        True, False, False,  True, False, False,  True, False, False,
        True, False, False,  True, False, False,  True, False, False,
        True, False, False,  True, False, False,  True, False, False])

In [95]:
# np.where(condition, true-value, false-value)
np.where(a%3==0, 'yes', 'no')

array(['yes', 'no', 'no', 'yes', 'no', 'no', 'yes', 'no', 'no', 'yes',
       'no', 'no', 'yes', 'no', 'no', 'yes', 'no', 'no', 'yes', 'no',
       'no', 'yes', 'no', 'no', 'yes', 'no', 'no', 'yes', 'no', 'no',
       'yes', 'no', 'no', 'yes', 'no', 'no'], dtype='<U3')

In [96]:
np.where(a%3==0, 'yes', a)

array(['yes', '1', '2', 'yes', '4', '5', 'yes', '7', '8', 'yes', '10',
       '11', 'yes', '13', '14', 'yes', '16', '17', 'yes', '19', '20',
       'yes', '22', '23', 'yes', '25', '26', 'yes', '28', '29', 'yes',
       '31', '32', 'yes', '34', '35'], dtype='<U11')

### Mathematical and Statistical Functions

In [ ]:
# mod, median, mean, standard deviation

In [97]:
a = np.arange(3*4).reshape((3,4))
a

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [98]:
np.sum(a)

66

In [99]:
np.sum(a, axis=0) # top to botton 0 axis
# left to right is 1

array([12, 15, 18, 21])

In [100]:
np.sum(a, axis=1)

array([ 6, 22, 38])

In [101]:
a.mean()

5.5

In [102]:
np.mean(a)

5.5

In [104]:
a.mean(axis=1)

array([1.5, 5.5, 9.5])

In [105]:
a.cumsum()

array([ 0,  1,  3,  6, 10, 15, 21, 28, 36, 45, 55, 66], dtype=int32)

In [106]:
a.std()

3.452052529534663

In [107]:
a.std(axis=1)

array([1.11803399, 1.11803399, 1.11803399])

In [108]:
# study statistics from coursera

In [111]:
a.argmax() # return index of maximum

11

In [112]:
b = np.array([-1, 2, 9, -15])
b.argmax()

2

In [1]:
# UIT repository, numpy folder from enggqasim
# study split and stack