In [4]:
import numpy as np
import pandas as pd
# for datavisualization
import matplotlib.pyplot as plt

In [ ]:
# Chapter 5 from book  python for data analysis

In [ ]:
# pandas is use for pre-processing of tabular data
# df = pd.read_feather
# read csv, excel, feather(fast .ft format), pickle(model of ml)

In [8]:
df = pd.read_csv('quiz.csv')
df

,Roll #,Course,Examination Center,Day,Date,Slot #,Time,Quiz Description
0,PIAIC49757,AIC,Bahria University Auditorium,Sunday,17-Nov-19,1,8:45 AM,Quiz 1
1,PIAIC49935,AIC,Bahria University Auditorium,Sunday,17-Nov-19,1,8:45 AM,Quiz 1
2,PIAIC50454,AIC,Bahria University Auditorium,Sunday,17-Nov-19,1,8:45 AM,Quiz 1
3,PIAIC50651,AIC,Bahria University Auditorium,Sunday,17-Nov-19,1,8:45 AM,Quiz 1
4,PIAIC50717,AIC,Bahria University Auditorium,Sunday,17-Nov-19,1,8:45 AM,Quiz 1
5,PIAIC50718,AIC,Bahria University Auditorium,Sunday,17-Nov-19,1,8:45 AM,Quiz 1
6,PIAIC51077,AIC,Bahria University Auditorium,Sunday,17-Nov-19,1,8:45 AM,Quiz 1
7,PIAIC51495,AIC,Bahria University Auditorium,Sunday,17-Nov-19,1,8:45 AM,Quiz 1
8,PIAIC51687,AIC,Bahria University Auditorium,Sunday,17-Nov-19,1,8:45 AM,Quiz 1

In [9]:
df.head() # displays first 5 values

,Roll #,Course,Examination Center,Day,Date,Slot #,Time,Quiz Description
0,PIAIC49757,AIC,Bahria University Auditorium,Sunday,17-Nov-19,1,8:45 AM,Quiz 1
1,PIAIC49935,AIC,Bahria University Auditorium,Sunday,17-Nov-19,1,8:45 AM,Quiz 1
2,PIAIC50454,AIC,Bahria University Auditorium,Sunday,17-Nov-19,1,8:45 AM,Quiz 1
3,PIAIC50651,AIC,Bahria University Auditorium,Sunday,17-Nov-19,1,8:45 AM,Quiz 1
4,PIAIC50717,AIC,Bahria University Auditorium,Sunday,17-Nov-19,1,8:45 AM,Quiz 1

In [10]:
df.head(3)

,Roll #,Course,Examination Center,Day,Date,Slot #,Time,Quiz Description
0,PIAIC49757,AIC,Bahria University Auditorium,Sunday,17-Nov-19,1,8:45 AM,Quiz 1
1,PIAIC49935,AIC,Bahria University Auditorium,Sunday,17-Nov-19,1,8:45 AM,Quiz 1
2,PIAIC50454,AIC,Bahria University Auditorium,Sunday,17-Nov-19,1,8:45 AM,Quiz 1

In [14]:
dfx = pd.read_csv("quiz.csv", encoding='cp1252')
# utf characters 
df.head()

,Roll #,Course,Examination Center,Day,Date,Slot #,Time,Quiz Description
0,PIAIC49757,AIC,Bahria University Auditorium,Sunday,17-Nov-19,1,8:45 AM,Quiz 1
1,PIAIC49935,AIC,Bahria University Auditorium,Sunday,17-Nov-19,1,8:45 AM,Quiz 1
2,PIAIC50454,AIC,Bahria University Auditorium,Sunday,17-Nov-19,1,8:45 AM,Quiz 1
3,PIAIC50651,AIC,Bahria University Auditorium,Sunday,17-Nov-19,1,8:45 AM,Quiz 1
4,PIAIC50717,AIC,Bahria University Auditorium,Sunday,17-Nov-19,1,8:45 AM,Quiz 1

In [15]:
dfx = pd.read_excel('PIAIC Q1 Video Checklist.xlsx')
dfx.head()

   1 2020-04-12 00:00:00  Week of April 12, 2020
0  2          2020-04-19  Week of April 19, 2020
1  3          2020-04-26  Week of April 26, 2020
2  4          2020-05-03     Week of May 3, 2020
3  5          2020-05-10    Week of May 10, 2020
4  6          2020-05-17    Week of May 17, 2020

In [20]:
# read_html
dfx = pd.read_html('https://www.w3schools.com/html/html_tables.asp')[0]
dfx.head()

                        Company          Contact  Country
0           Alfreds Futterkiste     Maria Anders  Germany
1    Centro comercial Moctezuma  Francisco Chang   Mexico
2                  Ernst Handel    Roland Mendel  Austria
3                Island Trading    Helen Bennett       UK
4  Laughing Bacchus Winecellars  Yoshi Tannamuri   Canada

In [ ]:
# json
dfj = pd.read_json('https://api.github')
dfj.head()

In [ ]:
# search tabula.py for pdf file

In [24]:
dfx = pd.read_excel('PIAIC Q1 Video Checklist.xlsx', sheet_name=0, usecols=['2020-04-12 00:00:00'])
dfx.head()

ValueError: Usecols do not match columns, columns expected but not found: ['2020-04-12 00:00:00']

In [25]:
# save to excel sheet
dfx.to_excel('online_data.xlsx')
# dfx.to_excel('online_data.xlsx', index=False)

In [26]:
pd.read_feather?

In [ ]:
# we use series data in pandas

### Series

In [28]:
df.login

AttributeError: 'DataFrame' object has no attribute 'login'

In [27]:
df.login.index

AttributeError: 'DataFrame' object has no attribute 'login'

In [ ]:
df.login.values

In [29]:
date_range = pd.date_range('2020-01-01', '2020-05-03') # YYYY-MM-DD
date_range

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10',
               ...
               '2020-04-24', '2020-04-25', '2020-04-26', '2020-04-27',
               '2020-04-28', '2020-04-29', '2020-04-30', '2020-05-01',
               '2020-05-02', '2020-05-03'],
              dtype='datetime64[ns]', length=124, freq='D')

In [30]:
date_range[-1] # end date is included
# end is included in pandas

Timestamp('2020-05-03 00:00:00', freq='D')

In [31]:
date_range = pd.date_range('2020-01-01', periods=5)
date_range

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05'],
              dtype='datetime64[ns]', freq='D')

In [32]:
date_range = pd.date_range('2020-01-01', periods=5, freq='M')
date_range

DatetimeIndex(['2020-01-31', '2020-02-29', '2020-03-31', '2020-04-30',
               '2020-05-31'],
              dtype='datetime64[ns]', freq='M')

In [33]:
date_range = pd.date_range('2020-01-01', '2020-05-03', freq='M') # YYYY-MM-DD
date_range

DatetimeIndex(['2020-01-31', '2020-02-29', '2020-03-31', '2020-04-30'], dtype='datetime64[ns]', freq='M')

In [34]:
date_range = pd.date_range('2020-01-01', periods=5, freq='5H')
# 5 HOURS frequency
date_range

DatetimeIndex(['2020-01-01 00:00:00', '2020-01-01 05:00:00',
               '2020-01-01 10:00:00', '2020-01-01 15:00:00',
               '2020-01-01 20:00:00'],
              dtype='datetime64[ns]', freq='5H')

In [35]:
obj1= pd.Series([1, 2, 3, 4], index=['A', 'B', 'C', 'D'])
print(obj1)

A    1
B    2
C    3
D    4
dtype: int64

In [36]:
print(obj1)
obj1['C']

A    1
B    2
C    3
D    4
dtype: int64

3

In [37]:
print(obj1)
obj1['C'] = 99
obj1

A    1
B    2
C    3
D    4
dtype: int64

A     1
B     2
C    99
D     4
dtype: int64

In [ ]:
dujrcsv join google class